body {
  background: #add8e6;
}
p {
  color: black;
  text-align: left;
}
h1 {
  font-weight: bolder;
  color: #5a3507;
  font-size: 50px;
  border: dotted;
  border-width: thick;
  text-align: center;
}
h2 {
  font-weight: bolder;
  color: #5a3507;
  font-size: 25px;
  border-width: thick;
  text-align: center;
}
a {
  display:block;
  font-weight: bolder;
  color: #5a3507;
  font-size: 25px;
  border-width: thick;
  text-align: center;
}
img {
    float: left;
    width: 200px;
    margin: 10px;
    border-color: #5a3507;
    border-width: 4px;
    border-style: solid;
    border-radius: 10px; 
}
.pcimg {
  float: left;
}
.apcspimg {
  float: right;
}
div {
  display: block;
}